name: Package Theme
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Create Release Zip
        run: zip -r epoch-light.zip . -x "*.git*" ".venv/*" "__pycache__/*"
        
      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          files: epoch-light.zip